body{
    font: 20px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color:#f4f4f4;
}

/* Global */
.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

ul{
    margin:0;
    padding:0;
}

.dark{
    padding:15px;
    background:#1b2431;
    color:#ffffff;
    /*margin-bottom:10px;*/
    border-top:#1a66ff 3px solid;
}

article h1 {
    text-align: center;
}

/* Header **/
header{
    background:#1b2431;
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom:#1a66ff 4px solid;
}

header a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
}

header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float:left;
}

header #branding h1{
    margin:0;
}

header nav{
    float:right;
    margin-top:10px;
}

header .highlight, header .current a{
    color:#1a66ff;
    font-weight:bold;
}

header a:hover{
    color:#cccccc;
    font-weight:bold;
}

/* Sidebar */
section#sidebaar{
    float: left;
    width: 25%;
    margin-top: 10px;
}

section#todobaar{
    float: left;
    width: 75%;
    margin-top: 10px;
}

/* todoside*/
article#todosite{
    float:left;
    width:75%;
    margin-top:10px;
}

/* Sidebar */
section#sidebaar{
    float:left;
    width:25%;
    min-width: 210px;
    margin-top:10px;
}

.sidebar_container{
    float:left;
    width:25%;
    margin-top:20px;
}

/* Sidebar
aside#sidebar{
  float:left;
  width:25%;
  margin-top:10px;
}
*/


#categoryList li{
    list-style: none;
    padding: 10px 0 0 5px;
    text-align: center;
    letter-spacing: 2px;
}

#categoryList li a,
#categoryList li a:visited {
    color: white;
}

.current a{
    color: #1a66ff;
    text-decoration: none;
}

/* Main section */
.button_container{
    padding-left: 0;
    /*padding: 20px 20px 0 20px;*/
}

.button_1{
    height:38px;
    background:#1b2431;
    border: 1px;
    border-radius: 10px;
    border: #1a66ff 3px solid;
    margin-left: 50px;
    color:#ffffff;
    font-size: 18px;
    width: 100px;
}

.button_1:disabled{
    border: none;
}

.button_1:hover{
    background-color: #1a66ff;
}

.button_1:hover:disabled{
    background-color: #1b2431;
}

.currentTitle{
    margin: 0 0 0 50px;
}

.currentTitle h1{
    font-size: 30px;
    text-align: center;

}

.todo_container:hover{
}

/* Todo Container */
.todo_container{
    float:right;
    width:75%;
    margin-top:20px;
}

hr {
    border-color: #ffffff;
    margin-bottom: 0;
    padding-bottom: 0;
}

/* Footer */
footer{
    padding:20px;
    margin-top:100px;
    color:#35424a;
    text-align: center;
}

/* Table */
thead,
tfoot {
    background-color: #1b2431;
    color: #fff;
    font-size: 18px;
}

tbody {
    background-color: #e4f0f5;
}

table {
    border-collapse: collapse;
    border: 2px solid #1b2431;
    table-layout: fixed;
    width: 600px;
    letter-spacing: 2px;
    font-family: sans-serif;
    font-size: 1rem;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 5px 10px;
    width: 150px;
}

td {
    text-align: left;
}

.selected {
    background-color: red;
    font-weight: bold;
    color: #ffffff;
}


/* Media Queries */
@media(max-width: 768px) {
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar,
    section .sidebar_container,
    section .container {
        float: none;
        text-align: center;
        width: 100%;
    }

    header {
        padding-bottom: 20px;
    }
}