
/*
$prime: #ff6e48
$second: #1b2431
$red: #f44259
$green: #41f47d
*/

body, html{
background-color: #1b2431;
font-size: 10px;
font-family: sans-serif;
}

body{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 3rem;
    color: #1a66ff;
    margin-top: 4rem;
}

.form-field{
    position: relative;
    margin: 0 0 1rem 0;
    width: 30rem;
    height: 5rem;
}

input{
    background-color: #35424a;
    border: none;
    display: block;
    width: 24.5rem;
    padding: 1.5rem 4rem 1.5rem 1.5rem;
    border-radius: 0.5rem;
    position: relative;
    font-size: 1.6rem;
    color: #f2f2f2;
}

label{
    position: absolute;
    padding-top: 1rem;
}

input:hover{
    border:#1a66ff 1px solid;
}

footer{
    color: white;
    padding-top: 10rem;
}

/* Checkbox + Label*/
input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label::before {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.5rem;
    border: 0.2rem solid #1a66ff;
    background-color: #35424a;
    display: block;
    content: "";
    float: left;
    margin-right: 0.5rem;
}

input[type="checkbox"]:checked+label::before {
    box-shadow: inset 0 0 0 0.3rem #35424a;
    background-color: #1a66ff;
}

label#label-checkbox-important{
    font-size: 1.7rem;
    color: #1a66ff;
}

input[type="submit"]{
    float: right;
    width: 10rem;
    height: 4rem;
    margin-top: 1rem;
    padding-top: 0.8rem;
    padding-left: 2rem;
    border: 0.2rem solid #1a66ff;
    border-radius: 1rem;
    background-color: #35424a;
}

input[type="submit"]:hover{
    float: right;
    width: 10rem;
    height: 4rem;
    margin-top: 1rem;
    padding-top: 0.8rem;
    padding-left: 2rem;
    border: 0.2rem solid green;
    border-radius: 1rem;
    background-color: green;
}
