body {
    background-color: #92a8d1;
    font-style: italic;
    font-size: 24px;
}

#box-login {
    background-color: white;
    box-sizing: border-box;
    margin: 100px auto auto auto;
    width: 470px;
    padding: 40px;
    border-radius: 3px;
}

.form-login {
    margin: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.form-login legend {
    text-align: center;
    font-size: 40px;
    padding: 20px;
}

.form-login input {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 2px solid rgb(238, 238, 238);
    box-sizing: border-box;

    width: 100%;
    margin: 5px 0;
    padding: 10px;

    font-size: 16px;
}

.form-login input[type=submit] {
    color: white;
    font-weight: bold;
    display: block;
    cursor: pointer;
    background-color: #ffa700e8;
}


.form-login input[type=submit]:hover {
    background-color: #ca8400e8;

    transition: background 0.2s;
    -moz-transition: background 0.2s;
    -webkit-transition: background 0.2s;
    -o-transition: background 0.2s;
}

@media screen and (max-width: 1024px) {

    #box-login {
        width: 100%;
        padding: 5px 0;
        box-sizing: initial;
    }

    .form-login legend {
        font-size: 30px;
        padding: 10px;
    }
}
