ul{
    margin:0;
    padding:0;
}

h3 {
    padding: 0;
    margin: 0;
}

th {
    font-weight: normal;
}

a {
    text-decoration: none;
}


/**
 * List template
**/
.overdue {
    color: #cf0009;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body{
    font: 20px/1.5 'Roboto', Helvetica, sans-serif;
    padding:0;
    margin:0;
}

.btn {
    padding: 10px 20px;
    background-color: #ffa700e8;
    display: inline-block;
    color: white;
    font-size: 17px;
}

.btn:hover {
    background-color: rgba(255, 153, 0, 1);
}

/* Header **/
header {
    background-color: #92a8d1;
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
}

header a {
    color:#ffffff;
    text-decoration:none;
    font-size:16px;
}


header li {
    float:left;
    display:inline;
}

header #branding {
    float:left;
    margin-left: 50px;
}

header #branding h1 {
    margin:0;
    font-size: 32px;
}

header nav {
    float:right;
    margin: 10px 50px 0 0;
}


header a:hover {
    text-decoration: underline;
}

aside {
    border-right: 1px solid #e5e5e5;
}

.categories {
    width: 300px;
    position: fixed;
}

.categories .subtitle {
    border-bottom: 1px solid #e5e5e5;
    padding: 30px 0 25px 50px;
}

.categories .subtitle h3 {
    color: #a5a29de8;
}

#categoryList li{
    list-style: none;
    border-bottom: 1px solid #e5e5e5;
}

#categoryList li:hover {
    background-color: #f2f2f2;
}

#categoryList li a,
#categoryList li a:visited {
    text-decoration: none;
    color: black;
    display: block;
    padding: 12px 0 12px 50px;
    font-size: 17px;
}

#categoryList li a.active {
    color: white;
    background-color: #91a4c7;
}

.title {
    border-bottom: 1px solid #e5e5e5;
    padding: 23px 0 0 51px;
    margin-left: 300px;
}

.title p {
    padding: 0;
    font-size: 27px;
    padding-top: 0px;
}

.title p + p {
    border-left: 1px solid #91a4c7;
    font-size: 14px;
}

.content{
    padding: 50px 50px 0 350px;
}

.current a{
    color: #1a66ff;
    text-decoration: none;
}

.button_container{
    margin-bottom: 20px;
}

hr {
    border-color: #ffffff;
    margin-bottom: 0;
    padding-bottom: 0;
}

/* Footer */
footer{
    padding:20px;
    margin-top:100px;
    color:#35424a;
    text-align: center;
}

/* Table */
thead,
tfoot {
    background-color: #f2f2f2;
    color: black;
    font-size: 16px;
}

#todoList {
    border-collapse: collapse;
    table-layout: fixed;
    font-family: sans-serif;
    font-size: 1rem;
    width: 100%;
    text-align: left;
}

#todoList td,
#todoList th {
    padding: 5px 10px;
}

#todoList td {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

#todoList tr {
    border-bottom: 1px solid #e5e5e5;
}

#todoList tr:hover {
    background-color: #fafafa;
}

.table-tool a {
    display: inline-block;
    color: #ffa700e8;
}

.table-tool a + a {
    margin-left: 10px;
}

.table-tool a:hover {
    color: rgba(255, 153, 0, 1);
    display: inline-block;
}

.reset-filter {
    font-size: 16px;
}

.reset-filter a,
.reset-filter a:visited {
    color: #3570db;
}

/*
* Form styles
**/

.form-box {
    margin: auto;
    width: 530px;
}

.form-buttons {
    margin: 20px 0;
}

.form-buttons a {
    float: left;
    padding: 7px 30px;
}

.form-buttons input {
    float: right;
    width: 200px;
    height: 39px;
    border: none;
}

form input {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 2px solid rgb(238, 238, 238);
    box-sizing: border-box;

    width: 100%;
    margin: 5px 0;
    padding: 10px;

    font-size: 16px;
    height: 40px;
}

form input[type=submit] {
    color: white;
    font-weight: bold;
    display: block;
    cursor: pointer;
    background-color: #ffa700e8;
}


form input[type=submit]:hover {
    background-color: #ca8400e8;

    transition: background 0.2s;
    -moz-transition: background 0.2s;
    -webkit-transition: background 0.2s;
    -o-transition: background 0.2s;
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label::before {
    width: 20px;
    height: 20px;
    border-radius: 0.5rem;
    border: 2px solid rgb(238, 238, 238);
    display: block;
    content: "";
    float: left;
    margin-right: 0.5rem;
}

input[type="checkbox"]:checked+label::before {
    background-color: #ffa700e8;
}

label#label-checkbox-important{
    font-size: 16px;
}

.alert {
    font-size: 16px;
    background-color: red;
    color: white;
    padding: 7px;
    margin-bottom: 5px;
}


/* Media Queries */
@media(max-width: 1024px) {

    .title {
        margin-left: 0;
    }

    .subtitle {
        padding-left: 50px;
    }

    .resizer {
        display: none;
    }

    .categories {
        width: 100%;
        position: relative;
    }

    .content {
        padding: 0 20px 0 20px;
        margin-top: 50px;
    }

    #categoryList li a {
        padding-left: 20px;
    }

    .table-tool a + a {
        margin-left: 5px;
    }
}